<section class="jo-navi">
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <navi-sidebar (close)="sidenav.close()"></navi-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <navi-header (toggle)="sidenav.toggle()"></navi-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div *ngIf="isPending$ | async" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</section>

<pre>
  <hr>
  LoggedInUser: {{ authUser$ | async | json }}
   <hr>
  <hr>
  IsPending: {{ isPending | async }}
   <hr>
</pre>
